<div class="container">
  <img src="pocetna1.jpg" alt="Snow" style="width:100%; ">

  <div class="content">
    <h1>Aplikacija za vođenje sportske evidencije</h1>
    <p>Ova aplikacija predstavlja projekat iz predmeta Razvoj višeslojnih aplikacija, koji se održava
      na trećoj godini smera Inženjerstvo informacionih sistema. U okviru ove aplikacije nalazi se
      evidencija o ligama iz različitih sportova, timova koji pripadaju određenim ligama, kao i igračima
      koji se nalaze u okviru određenih timova i nacionalnosti igrača.
    </p>
  </div>
</div>
