<mat-toolbar color="primary">
  <span class="title-left">O aplikaciji</span>
</mat-toolbar>
<div class="container">
  <div class="content">
    <p>Ova aplikacija predstavlja projekat iz predmeta Razvoj višeslojnih aplikacija, koji se održava
      na trećoj godini smera Inženjerstvo informacionih sistema. U okviru ove aplikacije nalazi se
      evidencija o ligama iz različitih sportova, timova koji pripadaju određenim ligama, kao i igračima
      koji se nalaze u okviru određenih timova i nacionalnosti igrača. Prethodno navedena evidencija,
      tačnije njeni podaci, predstavljeni su pomoću tabela radi lakšeg snalaženja. Za svaku tabelu je
      moguće dodati novi podatak, kao i izmeniti postojeći ili pak izbrisati. Takođe, moguće je izvršiti
      pretragu podataka na osnovu ključne reči, moguće je i sortirati podatke po koloni po kojoj želimo.
    </p>
    <p>Ukoliko želite da vidite sve podatke o ligama kliknite <a href="http://localhost:4200/liga">ovde</a>.</p>
    <p>Ukoliko želite da vidite sve podatke o timovima kliknite <a href="http://localhost:4200/tim">ovde</a>.
    Dok klikom na željeni tim možete videti sve podatke o igračima tog tima.</p>
    <p>Ukoliko želite da vidite sve podatke o nacionalnostima igrača kliknite <a href="http://localhost:4200/nacionalnost">ovde</a>.</p>
  </div>
</div>
